/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


 html, body {
  height: 100%;
  margin: 0;
  padding: 10;
}

#map-canvas {
  height: 300px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
}

#team-name {
  margin-left: auto;
  margin-right: auto;
  width: 4em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

#edit-game {
  margin-left: auto;
  margin-right: auto;
  width: 5em;
}

#create-team {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}


#game-form {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}

#quote {
  font-family: 'Gilda Display', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
}

#welcome {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

#next-game {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

#roster-button {
  margin-top: 15px;
}

.flash.notice {
  padding: 1em;
  color: white;
  background-color: #63F2D8;
}

.flash.alert {
  padding: 1em;
  color: white;
  background-color: #F76876;
}

#game-heading {
  margin-top: 15px;
  margin-left: 2em;
  margin-right: 2em;
}

#home-roster {
  list-style-type:none;
  text-align: center;
}

.button {
background-color: #7A7B85;
border-color: #7A7B85;
}

.button:hover {
background-color: #333333;
border-color: #7A7B85;
}

.button:visited {
background-color: #7A7B85;
border-color: #7A7B85;
}

.button:visited:hover {
background-color: #333333;
border-color: #333333;
}

.button:focus {
background-color: #7A7B85;
border-color: #7A7B85;
outline: none;
}

.roster-index {
  list-style-type:none;
  margin-left: auto;
  margin-right: auto;
  width: 19em;
}

#roster-list {
  list-style-type:none;
   text-align: center;
   margin: 0px;
   padding: 0px;
}
