/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


 html, body {
  height: 100%;
  margin: 0;
  padding: 10;
}

#map-canvas {
  height: 300px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
}

#team-name {
  margin-left: auto;
  margin-right: auto;
  width: 4em;
}

#team-name-schedule {
  margin-left: auto;
  margin-right: auto;
}

#quote {
  font-family: 'Gilda Display', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
}

#welcome {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

#next-game {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

#roster-button {
  margin-top: 15px;
}

#team-name-schedule {
  margin-left: auto;
  margin-right: auto;
}

.flash.notice {
  padding: 1em;
  color: white;
  background-color: #63F2D8;
}

.flash.alert {
  padding: 1em;
  color: white;
  background-color: #F76876;
}

#game-heading {
  margin-top: 15px;
  margin-left: 2em;
  margin-right: 2em;
}
